{% extends 'layouts/base.html' %}

{% block title%}
About company
{% endblock%}


{% block h1%}
Страница о нас
{% endblock%}



{% block body%}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ipsum iste quam rem suscipit? Dolor facilis laudantium mollitia nemo obcaecati quis? Amet explicabo hic laborum, libero magni molestias nesciunt repellendus?</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda enim error et facere fugiat hic inventore iusto maxime nemo nihil pariatur, possimus, quisquam saepe sed sequi tempore veniam.</p>
{% endblock%}

